body{
    font-family: 'Montserrat', sans-serif;

    .col{
        padding: 0%;
    }
    
}
main{

    .pt-4, .py-4 {
        margin-top: -1.5rem !important;
    }

    .intro{
        background-image: url('../../resources/img/pablo-merchan-montes-SCbq6uKCyMY-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 49rem;

        h1{
            color: $greenlight;
        }
        h3{
            font-family: 'Dancing Script', cursive;
        }
        .light{
            color: #ffffff;
        }
    }

    .container{
        padding: 5px;
    }

    .container-card{
        background-image: url('../../resources/img/nordwood-themes-AGTArna0jtA-unsplash.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20px 0px 20px 0px;

        .card{
            border-radius: 26px 26px 26px 26px;
            border: none;
            height: 630px;

            img{
                width: 288px;
            }
            
            .card-title{
                color: #fff;
                background-color:$brown;
                border-radius: 26px 26px 0px 0px;
                margin: 0%;
                padding: 10px;
            }
            .card-body{
                padding: 0%;
            }
            .card-text{
                padding: 20px;
                height: 50%;
                display: flex;
                align-items: center;
            }
            .btn{
                background-color: #fff;
                border-color: $greendark;
                color: $greendark;
                width: 95%;
                border-radius: 20px;
            }
            .btn:hover{
                background-color:$greendark;
                border-color: $greendark;
                color: #fff;
            }

            .btn-absolute{
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        
        }

        .custom-btn-carousel{
            color: $greendark;
            font-size: 50px;
        }
    }
    .brown-container{
        background-color: $brown;
        color: #ffffff;

        p{
            margin: 0%;
        }
    }

    .services-container{
        background-color: $greendark;
        color: #ffffff;
        padding: 50px;

        i{
            margin: 10px;
        }
        i:hover{
            color: $brown;
        }
        h1{
            margin: 0%;
        }
        h1:hover{
            color: $brown;
        }
    }

    .brown-container2{
        background-color: $brown;
        color: #ffffff;
    }
    
    .carousel-indicators li{
        height: 15px;
        width: 15px;
        border-radius:  50%;
        background-color: $greendark;
        margin: 5px;
    }
}

