header{
    .topbar{
        background-color: $brown;
        padding: 20px;

        .title{
            font-size: 25px;
            color: $greenlight;

            img{
                margin: 0px 10px 0px 10px;
            }
        }
        
        .light{
            color: #ffffff;
            font-size: 17px;
            text-decoration: none;
            margin: 0px 5px 0px 5px;
        }
        .light:hover{
            color: $greenlight;
        }
    }

    .downbar{
        background-color:$greendark;
        padding: 15px 0px 15px 0px;

        .light{
            color: #ffffff;
            font-size: 17px;
            text-decoration: none;
        }
        .light:hover{
            color: #000000;
        }

        li{
            margin: 0px 5px 0px 5px;
        }

        .btn{
            background-color:$brown;
            border: none;
            color: #ffffff;
        }
        .btn:hover{
            background-color:#ffffff;
            border: none;
            color: $brown;
        }
    }
}