

@media screen and (min-width: 959px){
.container-fluid{
    margin: 0%;
    padding: 0%;
    display: flex;
    .bandeau_gauche{
        width: 27%;
        height: 50rem;
        background-color: rgb(212, 238, 147);
        position: relative;
        
        .bandeau{
            width: 100%;
            height: 50rem;
            object-fit: cover; 
            opacity: 0.10;
            z-index: 10;
        }
        .profil{
            z-index: 30;
            position: absolute;
            top: 2rem;
            .avatar{
                border-radius: 100%;
                background-color: $greenlight;
                margin: 2rem;
                width: 10rem;
                height: 10rem;
                vertical-align: text-top;
                h3{
                   font-family: $font-family-sans-serif;
                    font-size: 2rem;
                    text-align: center;
                    vertical-align: middle;
                    color: white; 
                }
            }
            .titre_profil{
                width: 100%;
                ul{
                    width: 100%;
                    list-style:none;
                    padding: 0%; 
                    li{
                        color: white;
                        font-family: $font-family-sans-serif;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        padding-left: 10px;
                        &:hover {
                            background-color: rgb(182, 202, 102);
                            width: 100%;

                        }
                    }
                    
                    a{
                        text-decoration: none
                    }
                }  
            }
        }
    }
    .test{
        width: 100%;
        .titre_page{
            width: 100%;
            height: 2rem;
            background-color: $brown;
            height: 5rem;
            padding: 1rem;
            h2{
                font-family: $font-family-sans-serif;
                width: 100%;
                color: white;
                text-align: center;
            }
        }
        .coordonnées{
            display: flex;
            justify-content: space-around;
            font-family: $font-family-sans-serif;
            padding: 3rem;
            
            input{
                width: 30rem;
                border: none;
                background: none;
                text-decoration: underline;
                border-bottom: 0.1rem solid $brown;
            }
            button{
                background: none;
                border: 0.1rem solid $greenlight;
                color: $greenlight;
                font-weight: bolder;
                font-size: 1,8rem;
            }
        }      
    }
}
}

@media screen and (min-width: 500px) and (max-width: 959px){
    .container-fluid{
        margin: 0%;
        padding: 0%;
        display: flex;
        .bandeau_gauche{
            width: 25%;
            height: 50rem;
            background-color: rgb(212, 238, 147);
            position: relative;
            
            .bandeau{
                width: 100%;
                height: 50rem;
                object-fit: cover; 
                opacity: 0.10;
                z-index: 10;
            }
            .profil{
                z-index: 30;
                position: absolute;
                top: 2rem;
                .avatar{
                    border-radius: 100%;
                    background-color: $greenlight;
                    margin: 1rem;
                    width: 5rem;
                    height: 5rem;
                    vertical-align: text-top;
                    h3{
                       font-family: $font-family-sans-serif;
                        font-size: 1rem;
                        text-align: center;
                        vertical-align: middle;
                        color: white; 
                    }
                }
                .titre_profil{
                    width: 100%;
                    ul{
                        width: 100%;
                        list-style:none;
                        padding: 0%; 
                        li{
                            color: white;
                            font-family: $font-family-sans-serif;
                            font-size: 1rem;
                            margin: 1rem;
                        }
                        li:hover{
                            background-color: rgb(182, 202, 102);
                        }
                        a{
                            text-decoration: none
                        }
                    }  
                }
            }
        }
        .test{
            width: 80%;
            .titre_page{
                width: 100%;
                height: 4rem;
                background-color: $brown;
                h2{
                    font-size: 2rem;
                    font-family: $font-family-sans-serif;
                    width: 100%;
                    color: white;
                    text-align: center;
                }
            }
            .coordonnées{
                display: flex;
                justify-content: space-around;
                font-family: $font-family-sans-serif;
                padding: 3rem;
                
                input{
                    width: 18rem;
                    border: none;
                    background: none;
                    text-decoration: underline;
                    border-bottom: 0.1rem solid $brown;
                }
                button{
                    background: none;
                    border: 0.1rem solid $greenlight;
                    color: $greenlight;
                    font-weight: bolder;
                    font-size: 1,8rem;
                }
            }      
        }
    }
}

@media screen and (max-width: 500px){
    .container-fluid{
        margin: 0%;
        padding: 0%;
        display: flex;
        .bandeau_gauche{
            width: 28%;
            height: 50rem;
            background-color: rgb(212, 238, 147);
            position: relative;
            
            .bandeau{
                width: 100%;
                height: 50rem;
                object-fit: cover; 
                opacity: 0.10;
                z-index: 10;
            }
            .profil{
                z-index: 30;
                position: absolute;
                top: 2rem;
                .avatar{
                    border-radius: 100%;
                    background-color: $greenlight;
                    margin: 0.5rem;
                    width: 5rem;
                    height: 5rem;
                    vertical-align: text-top;
                    h3{
                       font-family: $font-family-sans-serif;
                        font-size: 1rem;
                        text-align: center;
                        vertical-align: middle;
                        color: white; 
                    }
                }
                .titre_profil{
                    width: 100%;
                    ul{
                        width: 100%;
                        list-style:none;
                        padding: 0%; 
                        li{
                            color: white;
                            font-family: $font-family-sans-serif;
                            font-size: 0.7rem;
                            margin: 1rem;
                        }
                        li:hover{
                            background-color: rgb(182, 202, 102);
                        }
                        a{
                            text-decoration: none
                        }
                    }  
                }
            }
        }
        .test{
            width: 70%;
            .titre_page{
                width: 100%;
                height: 3rem;
                background-color: $brown;
                h2{
                    font-family: $font-family-sans-serif;
                    font-size: 2rem;
                    width: 100%;
                    color: white;
                    text-align: center;
                }
            }
            .coordonnées{
                display: flex;
                justify-content: space-around;
                font-family: $font-family-sans-serif;
                padding: 3rem;
                
                input{
                    width: 10rem;
                    border: none;
                    background: none;
                    text-decoration: underline;
                    border-bottom: 0.1rem solid $brown;
                }
                button{
                    background: none;
                    border: 0.1rem solid $greenlight;
                    color: $greenlight;
                    font-weight: bolder;
                    font-size: 0.7rem;
                }
            }      
        }
    }
}

body #app .py-4{
    padding-bottom: none !important;
    padding-top: none !important;
}